[submodule "dep/cimgui/upstream"]
	path = dep/cimgui/upstream
	url = https://github.com/cimgui/cimgui.git
[submodule "dep/tomlc99/upstream"]
	path = dep/tomlc99/upstream
	url = https://github.com/cktan/tomlc99.git
[submodule "dep/lcms2/upstream"]
	path = dep/lcms2/upstream
	url = https://github.com/mm2/Little-CMS.git
[submodule "dep/cJSON/upstream"]
	path = dep/cJSON/upstream
	url = https://github.com/DaveGamble/cJSON.git
[submodule "dep/nativefiledialog/upstream"]
	path = dep/nativefiledialog/upstream
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "dep/mbedtls/upstream"]
	path = dep/mbedtls/upstream
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "dep/vulkan-headers/upstream"]
	path = dep/vulkan-headers/upstream
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "dep/glfw/upstream"]
	path = dep/glfw/upstream
	url = https://github.com/glfw/glfw.git
[submodule "dep/libjpeg-turbo/upstream"]
	path = dep/libjpeg-turbo/upstream
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "dep/libraw/upstream"]
	path = dep/libraw/upstream
	url = https://github.com/LibRaw/LibRaw.git
